fieldset {
    padding: 5px;
    margin: 0;
    border: 1px solid $border-color-background;
    border-radius: 3px;

    legend {
        margin-left: 8px;
    }
}

.option {
    border-radius: 4px;
    border: 1px solid transparent;

    &>input {
        display: none;
    }

    &:hover {
        border: 1px solid $border-color-ui-element;
    }

    &.active {
        border: 1px solid $border-color-ui-element;
        background: $background-ui-active;
    }
}