$white: #FFFFFF;
$black: #000000;
$gray-darkest: #444444;
$gray-dark: #888888;
$gray-bright: #CDCDCD;
$gray-brightest: #F3F3F3;
$blue-dark: #4B9FD5;
$blue-bright: #CAE3F2;
$softvis-orange: #FF9718;

$background-app: $gray-brightest;
$background-default: $white;
$background-contrast: $white;
$background-ui-active: $blue-bright;
$border-color-foreground: $gray-dark;
$border-color-background: $gray-bright;
$border-color-ui-element: $blue-dark;
$border-color-ui-inactive: $gray-bright;


$font-color-default: $black;
$font-color-highlight: $gray-dark;
$font-color-headline: $gray-darkest;
$font-color-link-default: #236a97;
$font-color-link-active: #236a97;
$font-color-link-hover: mix($white, $font-color-link-default, 50%);
