@mixin ui-border {
    border: 1px solid $border-color-background;
    border-radius: 2px;
    outline: none;

    &:hover, &:active, &:hover {
        border-color: $border-color-ui-element;
    }
}

fieldset {
    padding: 5px;
    margin: 0;
    border: 1px solid $border-color-background;
    border-radius: 3px;

    legend {
        margin-left: 8px;
    }
}

.radio-group {
    label {
        @include ui-border;
        border-color: transparent;
        border-radius: 2px;
        padding: 3px 5px;
        cursor: pointer;

        &>input {
            display: none;
        }

        &.active {
            border: 1px solid $border-color-ui-element;
            background: $background-ui-active;
        }
    }
}

.selectbox {
    select {
        @include ui-border;
    }

    &>span {
        padding: 0 2px;
        &:after {
            content: ': '
        }
    }
}

body, #app {
    background-color: $background-app;
}

#app {
    @include clearfix;
    background-color: $background-app;
    position: relative;
}