.bottom-bar {
    position: absolute;
    left: 0; right: 0;
    bottom: 0;

    max-width: 1000px;
    min-width: 500px;
    width: 75%;
    text-align: center;
    font-size: 13px;
    line-height: 18px;

    border: 1px solid $border-color-background;
    border-bottom: none;
    background-color: transparentize($white, .2);

    margin: auto;
    padding: 4px;

    div.metric-info {
        color: $black;
        float: left;
        width: 33%;

        &>span {
            padding-top: 1px;
        }

        .title:after {
            content: ": ";
        }

        .value {
            padding-left: 4px;
            color: $gray-dark;

            &:before {content: "(";}
            &:after {content: ")";}
        }
    }

}