.bottom-bar {
    position: absolute;
    width: 40%;
    max-width: 1000px;
    min-width: 500px;
    border: 1px solid $border-color-background;
    margin: auto;
    padding: 10px 10px 10px 10px;
    background-color: $white;

    left: 0; right: 0;
    bottom: 0;

    text-align: center;
}