.bottom-bar {
    position: absolute;
    left: 0; right: 0;
    bottom: 0;

    max-width: 1000px;
    min-width: 500px;
    width: 40%;
    text-align: center;

    border: 1px solid $border-color-background;
    background-color: $white;

    margin: auto;
    padding: 6px;

    div.metric-info {
        color: $black;
        float: left;
        width: 33%;

        .title:after {
            content: ": ";
        }
    }

}