$leftColumnWidth: 320px;
$simpleCategoryHeight: 290px;

.city-builder {
    @include softvis-dialog;

    .simple {
        // Column Management
        @include clearfix;

        position: relative;
        min-height: $simpleCategoryHeight;

        .left-column {
            float: left;
            width: $leftColumnWidth;
        }

        .right-column {
            position: absolute;
            width: ($dialog-width - $leftColumnWidth - 5px);
            height: 100%;
            right: 0;
        }
    }

    // Other City-Builder Stuff

    .simple {
        .preview {
            min-width: 155px;
            height: 100%;
            background: #FFF center no-repeat;
            background-size: contain;
            border: 1px dashed $gray-bright;
        }

        .layout-component {
            width: 100%;
            padding: 5px 0;

            .list>label {
                display: block;
                cursor: pointer;
                margin: 6px 4px;
            }
        }
    }

    .advanced {
        margin: 5px 0;
    }

    .buttons {
        text-align: right;
        margin-top: 8px;

        button {
            margin: 0 4px;
            border: 1px solid $font-color-link-default;
            border-radius: 4px;
            background: $white;
            padding: 3px 5px;
            cursor: pointer;

            &:hover {
                border-color: $font-color-link-hover;
                color: $font-color-highlight;
            }
        }
    }
}

.property-component {
    padding: 2px;

    .metrics {
        padding: 4px 0 0 15px;

        .selectbox {
            padding-bottom: 5px;
            span {
                display: block;
                padding: 1px;
                &:before {
                    content: '\00bb '
                }
            }

            select {
                max-width: 285px;
            }
        }
    }

    .profile-description {
        border-top: 1px solid $border-color-background;
        margin-top: 15px;
        padding: 8px 6px;
    }
}

