$leftColumnWidth: 340px;
$simpleCategoryHeight: 290px;

.city-builder {
    @include softvis-dialog;

    .simple {
        // Column Management
        @include clearfix;

        position: relative;
        min-height: $simpleCategoryHeight;

        .left-column {
            float: left;
            width: $leftColumnWidth;
        }

        .right-column {
            position: absolute;
            width: ($dialog-width - $leftColumnWidth - 5px);
            height: 100%;
            right: 0;
        }
    }

    // Other City-Builder Stuff

    .simple {
        .preview {
            min-width: 155px;
            height: 100%;
            background: #FFF center no-repeat;
            background-size: contain;
            border: 1px dashed $gray-bright;
        }

        .layout-component {
            width: 100%;

            .list>label {
                display: block;
                cursor: pointer;
                margin: 6px 4px;
            }
        }

        .selection-description {
            margin: 6px 0 0 0;

            &.profile-description {
                min-height: 100px;
            }

            &.layout-description {
                min-height: 64px;
            }

            &.color-description {
                min-height: 40px;
            }
        }
    }

    fieldset.advanced {
        // Toggle Properties
        margin: 8px 0;

        &.collapsable:not(.collapsed) div.category-content {
            max-height: 110px;
        }

        // Column Management
        @include clearfix;

        position: relative;

        .left-column {
            float: left;
            width: 48%;
        }

        .right-column {
            //position: absolute;
            float: right;
            width: 48%;
            height: 100%;
            right: 0;
        }
    }

    .builder-option {
        margin: 0  3px 6px 3px;

        span {
            display: block;
            color: $font-color-headline;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 2px;
        }

        select {
            width: 97%;
            height: 23px;
            margin: 3px 0 3px 4px;

            border-color: $blue-dark;
            background-color: $white;
            border-radius: 2px;

            option {
                background-color: $white;
            }
        }
    }

    .buttons {
        text-align: right;
        margin-top: 8px;

        button {
            margin: 0 4px;
            border: 1px solid $font-color-link-default;
            border-radius: 4px;
            background: $white;
            padding: 3px 5px;
            cursor: pointer;

            &:hover {
                border-color: $font-color-link-hover;
                color: $font-color-highlight;
            }
        }
    }
}
