$leftColumnWidth: 340px;
$simpleCategoryHeight: 290px;

.city-builder {
    @include softvis-dialog;

    .simple {
        // Column Management
        @include clearfix;

        position: relative;
        min-height: $simpleCategoryHeight;

        .left-column {
            float: left;
            width: $leftColumnWidth;
        }

        .right-column {
            position: absolute;
            width: ($dialog-width - $leftColumnWidth - 5px);
            height: 100%;
            right: 0;
        }
    }

    // Other City-Builder Stuff

    .simple {
        .preview {
            min-width: 155px;
            height: 100%;
            background: #FFF center no-repeat;
            background-size: contain;
        }

        .layout-component {
            width: 100%;

            .list>label {
                display: block;
                cursor: pointer;
                margin: 6px 4px;
            }
        }

        .selection-description {
            margin: 6px 0 0 0;
            font-size: 12px;

            &.profile-description {
                min-height: 85px;
            }

            &.layout-description {
                min-height: 45px;
            }

            &.color-description {
                min-height: 30px;
            }
        }
    }

    fieldset.advanced {
        // Toggle Properties
        margin: 6px 0;

        &.collapsable:not(.collapsed) div.category-content {
            max-height: 110px;
        }

        // Column Management
        @include clearfix;

        position: relative;

        .left-column {
            float: left;
            width: 33%;
        }

        .middle-column {
            float: left;
            width: 33%;
        }

        .right-column {
            float: left;
            width: 33%;
            height: 100%;
            right: 0;
        }

        .selection-description {
            margin: 6px 0 0 6px;
            font-size: 12px;
        }
    }

    .builder-option {
        margin: 2px  3px 8px 3px;

        span {
            display: block;
            color: $font-color-headline;
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 2px;
        }

        select {
            width: 97%;
        }
    }

    .buttons {
        text-align: right;
        margin-top: 8px;

        button {
            @include softvis-button;
        }
    }
}
