.visualisation {
    @include clearfix;
    border: 1px solid $border-color-background;
    background-color: $white;
    margin: 0;
    padding: 0;

    .scene {
        position: relative;

        border-right: 1px solid $border-color-background;
        float: left;
        margin: 0;
        padding: 0;

        &.active > .key-legend {
            visibility: visible;
            opacity: .8;
        }

        .key-legend {
            pointer-events: none;
            position: absolute;
            top: 6px;
            left: 6px;
            background-color: $white;
            box-shadow: 0 0 4px 5px $white;
            padding: 2px;

            visibility: hidden;
            opacity: 0;
            transition: visibility .5s, opacity .5s linear;

            table {
                border-spacing: 0;
                border: 0;

                td {
                    padding-bottom: 2px;
                }

                .keyboard-key {
                    border: 1px solid gray;
                    font-size: 10px;
                    line-height: 12px;
                    font-weight: bold;
                    box-shadow: 1px 0 1px 0 darken($white, 10%),
                                0 1px 0 1px darken($white, 20%),
                                0 1px 0 2px darken($white, 85%);
                    border-radius: 3px;
                    margin: 2px 5px 5px 5px;
                    padding: 0 2px;
                    background: $white;
                }

                .mouse-key {
                    width: 23px;
                    height: 22px;

                    &.mouse-left {
                        @include bg-img-mouse-left;
                        background-size: 14px 22px;
                    }
                    &.mouse-right {
                        @include bg-img-mouse-right;
                        background-size: 14px 22px;
                    }
                    &.mouse-middle {
                        @include bg-img-mouse-middle;
                        background-size: 14px 22px;
                    }
                }

                span {
                    font-size: 12px;

                }
            }
        }

        .scene-information {
            position: absolute;
            left: 0; right: 0;
            bottom: 0;

            max-width: 1000px;
            min-width: 750px;
            width: 75%;
            text-align: center;
            font-size: 13px;
            line-height: 18px;

            border: 1px solid $border-color-background;
            border-bottom: none;
            background-color: transparentize($white, .2);

            margin: auto;
            padding: 4px;

            div.metric-info {
                color: $black;
                float: left;
                width: 33%;
                line-height: 29px;

                .title:after {
                    content: ": ";
                }

                .value {
                    padding-left: 4px;
                    color: $gray-darkest;

                    &:before {content: "(";}
                    &:after {content: ")";}
                }
            }
        }
    }
}