.side-bar {
    position: absolute;
    top: 46px;
    right: 1px;

    height: 85%;
    width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: auto;
    padding: 5px;

    text-align: center;
}

.side-bar ul .current-selected {
    font-weight: bold;
}