.side-bar {
    position: absolute;
    top: 46px;
    right: 1px;

    //height: 85%;
    width: 280px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: auto;
    padding: 5px;

    h3 {
        text-align: center;
    }

    ul.node-list {
        text-align: left;
        font-weight: normal;
        list-style: none;
        margin: 5px 0;
        padding: 0;

        li {
            background: no-repeat left center;
            padding: 4px 0 4px 20px;
            margin-left: 12px;
            color: $font-color-link-default;
            cursor: pointer;
        }

        li.current-selected{
            color: $font-color-link-active;
            font-weight: bold;
        }

        li.origin.node {
            @include bg-img-open-folder;
            margin-left: 0;
        }

        li.leaf {
            @include bg-img-file;
        }

        li.node {
            @include bg-img-folder;
        }

        li:hover {
            color: $font-color-link-hover;
        }
    }
}