$content-height: 32px;

.top-bar {
    @include clearfix;
    border-bottom: 1px solid $border-color-background;
    padding: 0;

    height: $content-height;
    margin: auto;

    .no-info {
        display: block;
        padding: ($content-height / 4);
        color: $font-color-highlight;
        font-style: italic;
    }

    .selected-element-info {
        height: $content-height;
        margin-right: 295px;
        background: no-repeat 8px 45%;
        background-size: 20px;
        &.leaf {
            @include bg-img-file;
        }
        &.node {
            @include bg-img-folder;
        }

        .element-name {
            margin: 6px 60px 0 34px;
            height: ($content-height - 8px);
            float: left;
            min-width: 400px;
            max-width: 600px;
            overflow: hidden;

            font-weight: 600;
            font-size: 12pt;
        }
    }

    .top-bar-menu {
        float: right;
        width: 291px;
        text-align: center;
        padding: (($content-height - 26px)/2) 0;

        button {
            @include softvis-button;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu {
        display: none;
        color: #236a97;
        position: absolute;
        height: 24px;
        width: 125px;
        line-height: 22px;
        background: white;
        padding-top: 0;
        z-index: 9999;
    }

    .dropdown-menu > span {
        display: block;
        color: #236a97;
        position: absolute;
        height: 24px;
        width: 125px;
        line-height: 22px;
        box-sizing: border-box;
        border: 1px solid $font-color-link-default;
        border-radius: 2px;
        background: white;
        padding-left: 5px;
        cursor: pointer;
    }

    .dropdown-menu > span:hover {
        background-color: #236a97;
        color: white;
    }

    .dropdown-menu-open {
        display: block;
    }
}
