---
---

@import "{{ site.theme }}";

h3 {
  font-size: 28px;
  color: black;
}

h4 {
  font-size: 24px;
  color: black;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  color: black;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  color: black;
}